**/ckpts/
**/checkpoints/
**/data/
*.pyc
zoo/MMDrive/vis/
zoo/MMDrive/wandb/
zoo/MMDrive/work_dirs/
zoo/MMDrive/tools/eval/
zoo/OmniDrive-main/results_planning_only/
zoo/OmniDrive-main/test/
zoo/OmniDrive-main/val/
zoo/OmniDrive-main/work_dirs/
zoo/MMDrive/test/
zoo/OpenEMMA/
zoo/Senna/
zoo/UniAD/
zoo/UniAD1/
zoo/VAD/save/
zoo/VAD/test/
zoo/Dolphins/
zoo/MMDrive/projects/Openemma/prepare/

